<!DOCTYPE html>
<html>
<head>
  <title>Alert</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">                 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="icon" href="data:,">
   <style type="text/css">  
   .Background{
       display: grid;
       background: gray;
       grid-template-columns: 20% 80% ;
       grid-template-areas: 
         "h h"
         "hm hm"
         "o o"
         "p pt";
       grid-gap: 0.3rem;  
      
   }
   .Header{
       height: 80px;   
       grid-area: h;
       background: gray;
   }
   .Header-1{
       color: white; 
       font-size: 2rem; 
   }
   .Home{
       height: 20px;
       grid-area: hm;
       display: grid;
       grid-template-columns: 4% 96%;
       grid-template-areas: 
         "bh ba"
         "bh ba";
       grid-gap: 0.3rem;  
   }
   .Button-Home{
        border-radius: 12px;
        color: rgb(51, 44, 44);
        padding: 4px 16px;
        transition-duration: 0.4s;
        display: inline-block;
        cursor: pointer;
        grid-area: bh;
  }
  </style>
</head>
<body>
    <div class="Background">
       <div class="Header">
        <img src="https://physics.aps.org/assets/bb8d573b-76fb-400f-a6d2-17ab9a98b017/e58_1.png" width="150px" height="93px">
        <h class="Header-1"  style = "text-align: center" >  SCADA for WindPower HBRE Group 9 </h>    
        <div class="Home">
            <div > <a href="/windpower"><button class="Button-Home button-color">Home</button></a></div>
        </div>
        <canvas id="tb2Chart" width= 250vw height=90%></canvas>
       </div>

      
    </div>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"> </script>
    <script src="xuly.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</body>
<script>
     let dataPower = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
        let dataWind = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
        var cxt = document.getElementById("tb2Chart").getContext("2d");
        var tb1Chart = new Chart(cxt, {
            type: "line",
            data: {
                labels: [0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190],
                datasets: [
                    {
                        data: dataPower,
                        label: "power",
                        yAxisID: "power",
                        borderColor: "#3e95cd",
                        fill: false,
                    },
                    {
                        data: dataWind,
                        label: "wind",
                        yAxisID: "wind",
                        borderColor: "#8e5ea2",
                        fill: false,
                    },
                ],
            },
            options: {
                title: {
                    display: true,
                    text: "TURBINE2",
                    fontSize: 15,
                },
                scales: {
                    yAxes: [
                        {
                            id: "wind",
                            position: "right",
                            scaleLabel: {
                                display: true,
                                labelString: "Wind Speed(m/s)",
                                fontSize: 15,                              
                            },
                            ticks: {
                                    beginAtZero: true,
                                    steps: 1,
                                    max: 8,
                            },
                        },
                        {
                            id: "power",
                            position: "left",
                            scaleLabel: {
                                display: true,
                                labelString: "POWER(KW)",
                                fontSize: 15,
                                beginAtZero: true,
                            },
                            ticks: {
                                    beginAtZero: true,
                                    steps: 100,
                                    max: 700,
                            },
                        },
                    ],
                    xAxes: [
                        {
                            scaleLabel: {
                                display: true,
                                labelString: "s",
                                fontSize: 15,
                            },
                        },
                    ],
                },
            },
        });
        socket.on("server-update-data2", function (datatrendtb2) {
            dataPower[0]   = datatrendtb2.windPower2;
            dataWind[0]    = datatrendtb2.windSpeed2;  
        });
        let flagPower = setInterval(() => {
            let newData = dataPower[0];
                oldData = dataPower.slice(1); // dịch dữ liệu 
            oldData.push(newData);
            dataPower = [].concat(oldData);
            tb1Chart.data.datasets[0].data = dataPower;
            tb1Chart.update(0);
            // disable animation
        }, 2000);
        let flagWind = setInterval(() => {
            let newData = dataWind[0];
                oldData = dataWind.slice(1);
            oldData.push(newData);
            dataWind = [].concat(oldData);
            tb1Chart.data.datasets[1].data = dataWind;
            tb1Chart.update(0);
            // disable animation
        }, 2000);
    </script>
</html>