<!DOCTYPE html>
<html>

<head>
    <title>WindPower</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->

    <style type="text/css">
        :root {
            --bg1: #9b59b6;
            --bg2: #3498db;
            --text: #26ade4;
        }

        * {
            margin: 0;
            padding: 0;
            outline: none;
        }

        a {
            text-decoration: none;
        }

        .Background {
            /* display: grid; */
            background: grey;
            /* grid-template-columns: 30% 70%; */
            grid-template-areas:
                "h h"
                "hm hm"
                "o o"
                "p pt";
            grid-gap: 0.3rem;
        }

        .Header {
            height: 70px;
            background: grey;
            grid-area: h;
        }

        .Header-1 {
            color: white;
            text-align: left;
            font-size: 1.5rem;
        }

        .Header-2 {
            color: white;
            background-color: #343a40;
            text-align: left;
            font-size: 1.2rem;
        }

        .Header-3 {
            color: white;
            text-align: left;
            font-size: 1.1rem;
        }

        .Header-4 {
            color: rgb(44, 8, 250);
            text-align: left;
            font-size: 1.1rem;
        }

        .Header-5 {
            color: black;
            text-align: left;
            font-size: 1.1rem;
        }

        .Header-6 {
            font-size: 1.1rem;
        }

        .Header-7 {
            color: rgb(87, 224, 117);
            text-align: left;
            font-size: 1.1rem;
        }

        .Header-8 {
            color: rgb(243, 9, 9);
            text-align: left;
            font-size: 1.1rem;
        }

        .Header-9 {
            color: #ffb703;
            text-align: left;
            font-size: 1.1rem;
        }

        .Home {
            height: 30px;
            background: #343a40;
            grid-area: hm;
            display: grid;
            grid-template-columns: 10% 10% 80%;
            grid-template-areas:
                "bh ba bc"
                "bh ba bc";
            grid-gap: 0.3rem;
        }

        .Button-Home {
            border-radius: 12px;
            color: rgb(51, 44, 44);
            padding: 4px 16px;
            transition-duration: 0.4s;
            display: inline-block;
            cursor: pointer;
            grid-area: bh;
        }

        .button-color {
            background-color: #008CBA;
        }

        .Button-Home :hover {
            background-color: #008CBA;
            color: rgb(19, 12, 12);
        }

        .Button-Alert {
            grid-area: ba;
        }

        .Button-SignOut {
            grid-area: bc;
        }

        .Overview {
            height: 400px;
            background: #343a40;
            grid-area: o;
            display: grid;
            grid-template-columns: 5% 23% 23% 23% 20%;
            grid-template-areas:
                "p o o o o"
                "p t1 t2 t3 t4"
                "p t5 t6 t7 t8"
                "p t9 t10 t11 t12";

        }

        .Performance-Indicator {
            height: 250px;
            background: #343a40;
            grid-area: p;
        }

        .Performance-Trend {
            height: 250px;
            background: #343a40;
            grid-area: pt;
        }

        .Turbine-1 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t1;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t1a t1b";
        }

        .Turbine-1a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t1a;
        }

        .Turbine-1b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t1b;
        }

        .Turbine-2 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t2;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t2a t2b";
        }

        .Turbine-2a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t2a;
        }

        .Turbine-2b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t2b;
        }

        .Turbine-3 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t3;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t3a t3b";
        }

        .Turbine-3a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t3a;
        }

        .Turbine-3b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t3b;
        }

        .Turbine-4 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t4;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t4a t4b";
        }

        .Turbine-4a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t4a;
        }

        .Turbine-4b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t4b;
        }

        .Turbine-5 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t5;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t5a t5b";
        }

        .Turbine-5a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t5a;
        }

        .Turbine-5b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t5b;
        }

        .Turbine-6 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t6;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t6a t6b";
        }

        .Turbine-6a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t6a;
        }

        .Turbine-6b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t6b;
        }

        .Turbine-7 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t7;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t7a t7b";
        }

        .Turbine-7a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t7a;
        }

        .Turbine-7b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t7b;
        }

        .Turbine-8 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t8;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t8a t8b";
        }

        .Turbine-8a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t8a;
        }

        .Turbine-8b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t8b;
        }

        .Turbine-9 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t9;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t9a t9b";
        }

        .Turbine-9a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t9a;
        }

        .Turbine-9b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t9b;
        }

        .Turbine-10 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t10;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t10a t10b";
        }

        .Turbine-10a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t10a;
        }

        .Turbine-10b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t10b;
        }

        .Turbine-11 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t11;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t11a t11b";
        }

        .Turbine-11a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t11a;
        }

        .Turbine-11b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t11b;
        }

        .Turbine-12 {
            width: 340px;
            height: 110px;
            background: #8d99ae;
            grid-area: t12;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "t12a t12b";
        }

        .Turbine-12a {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t12a;
        }

        .Turbine-12b {
            width: 140px;
            height: 50px;
            background: #8d99ae;
            grid-area: t12b;
        }
    </style>
</head>

<body>
    <div class="Background">
        <div class="row m-2">
            <table class="table table-borderless" style="table-layout: fixed; background-color: grey;">
                <tbody>
                    <tr>
                        <th colspan="5"><img class="float-right" src="https://images.sw.cdn.siemens.com/siemens-disw-assets/public/5R4wxPnxbNniJoXzzFSIia/fr-FR/AES-Wind-Landing-Page-Offshore-wind-farm-640x360_tcm27-106585.jpg?w=500&fit=max&q=60&dpr=1&auto=format" width=150vw height=100vh></th>
                        <th colspan="5"><h3 style="color: white;" >SCADA for WindPower HBRE group 9</h3></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <a href="/windpower"><button class="btn btn-primary">Home</button></a>
                    <a href="/alert"><button class="btn btn-danger">Alert</button></a>
                    <a href="/"><button class="btn btn-info">Logout</button></a>
                </div>
            </div>
            <div class="row m-4">
                <table class="table table-bordered table-striped" style="table-layout: fixed; background-color: white;">
                    <tbody>
                        <tr>
                            <th colspan="2"><a id="Turbin-1" href="/turbin1">Turbin-1</a></th>
                            <th colspan="2"><a id="Turbin-2" href="/turbin2">Turbin-2</a></th>
                            <th colspan="2"><a id="Turbin-3" href="/turbin3">Turbin-3</a></th>
                            <th colspan="2"><a id="Turbin-4" href="/turbin4">Turbin-4</a></th>
                        </tr>
                        <tr>
                            <th scope="row">Power</th>
                            <td><span><span id="P1"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P2"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P3"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P4"></span>kW</span></td>
                        </tr>
                        <tr>
                            <th scope="row">WS</th>
                            <td><span><span id="WS1"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS2"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS3"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS4"></span> m/s</td>
                        </tr>
                        <tr>
                            <th scope="row">WD</th>
                            <td><span><span id="WD1"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD2"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD3"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD4"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td><span><span id="S1"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S2"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S3"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S4"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row m-4">
                <table class="table table-bordered table-striped" style="table-layout: fixed; background-color: white;">
                    <tbody>
                        <tr>
                            <th colspan="2"><a id="Turbin-5" href="/turbin5">Turbin-5</a></th>
                            <th colspan="2"><a id="Turbin-6" href="/turbin6">Turbin-6</a></th>
                            <th colspan="2"><a id="Turbin-7" href="/turbin7">Turbin-7</a></th>
                            <th colspan="2"><a id="Turbin-8" href="/turbin8">Turbin-8</a></th>
                        </tr>
                        <tr>
                            <th scope="row">Power</th>
                            <td><span><span id="P5"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P6"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P7"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P8"></span>kW</span></td>
                        </tr>
                        <tr>
                            <th scope="row">WS</th>
                            <td><span><span id="WS5"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS6"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS7"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS8"></span> m/s</td>
                        </tr>
                        <tr>
                            <th scope="row">WD</th>
                            <td><span><span id="WD5"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD6"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD7"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD8"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td><span><span id="S5"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S6"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S7"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S8"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row m-4">
                <table class="table table-bordered table-striped" style="table-layout: fixed; background-color: white;">
                    <tbody>
                        <tr>
                            <th colspan="2"><a id="Turbin-9" href="/turbin9">Turbin-9</a></th>
                            <th colspan="2"><a id="Turbin-10" href="/turbin10">Turbin-10</a></th>
                            <th colspan="2"><a id="Turbin-11" href="/turbin11">Turbin-11</a></th>
                            <th colspan="2"><a id="Turbin-12" href="/turbin12">Turbin-12</a></th>
                        </tr>
                        <tr>
                            <th scope="row">Power</th>
                            <td><span><span id="P9"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P10"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P11"></span>kW</span></td>
                            <th scope="row">Power</th>
                            <td><span><span id="P12"></span>kW</span></td>
                        </tr>
                        <tr>
                            <th scope="row">WS</th>
                            <td><span><span id="WS9"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS10"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS11"></span> m/s</td>
                            <th scope="row">WS</th>
                            <td><span><span id="WS12"></span> m/s</td>
                        </tr>
                        <tr>
                            <th scope="row">WD</th>
                            <td><span><span id="WD9"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD10"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD11"></span></td>
                            <th scope="row">WD</th>
                            <td><span><span id="WD12"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td><span><span id="S9"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S10"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S11"></span></td>
                            <th scope="row">Status</th>
                            <td><span><span id="S12"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-4">
            <table class="table table-bordered" style="table-layout: fixed; background-color: white;">
                <tbody>
                    <tr>
                        <th colspan="2">Performance-Indicator</th>
                        <th colspan="10">Performance-Trend</th>
                    </tr>
                    <tr>
                        <th scope="row">Power</th>
                        <td><span><span id="P"></span>kW</span></td>
                        <th rowspan="2" colspan="10">
                              <canvas id="myChart" width=230vw height=100%></canvas>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">Wind Speed</th>
                        <td><span><span id="WS"></span>m/s</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"> </script>
    <script src="turbin_state.js"></script>
    <script src="xuly.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</body>
<script>
     let dataPower = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
        let dataWind = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
        var cxt = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(cxt, {
            type: "line",
            data: {
                labels: [0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190],
                datasets: [
                    {
                        data: dataPower,
                        label: "power",
                        yAxisID: "power",
                        borderColor: "#3e95cd",
                        fill: false,
                    },
                    {
                        data: dataWind,
                        label: "wind",
                        yAxisID: "wind",
                        borderColor: "#8e5ea2",
                        fill: false,
                    },
                ],
            },
            options: {
                title: {
                    display: true,
                    fontSize: 15,
                },
                scales: {
                    yAxes: [
                        {
                            id: "wind",
                            position: "right",
                            scaleLabel: {
                                display: true,
                                labelString: "Wind Speed(m/s)",
                                fontSize: 15,                              
                            },
                            ticks: {
                                    beginAtZero: true,
                                    steps: 1,
                                    max: 6,
                            },
                        },
                        {
                            id: "power",
                            position: "left",
                            scaleLabel: {
                                display: true,
                                labelString: "POWER(KW)",
                                fontSize: 15,
                                beginAtZero: true,
                            },
                            ticks: {
                                    beginAtZero: true,
                                    steps: 1000,
                                    max: 7000,
                            },
                        },
                    ],
                    xAxes: [
                        {
                            scaleLabel: {
                                display: true,
                                labelString: "s",
                                fontSize: 15,
                            },
                        },
                    ],
                },
            },
        });
        socket.on("server-update-line", function (data13) {
            dataPower[0]   = data13.windPower;
            dataWind[0]    = data13.windSpeed;  
        });
        let flagPower = setInterval(() => {
            let newData = dataPower[0];
                oldData = dataPower.slice(1); // dịch dữ liệu 
            oldData.push(newData);
            dataPower = [].concat(oldData);
            myChart.data.datasets[0].data = dataPower;
            myChart.update(0);
            // disable animation
        }, 2000);
        let flagWind = setInterval(() => {
            let newData = dataWind[0];
                oldData = dataWind.slice(1);
            oldData.push(newData);
            dataWind = [].concat(oldData);
            myChart.data.datasets[1].data = dataWind;
            myChart.update(0);
            // disable animation
        }, 2000);
</script>

</html>